@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  background-color: #8accda;
  font-family: "Noto Sans JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "Yu Gothic", "YuGothic", "Helvetica Neue", "Helvetica", "sans-serif";
}


.content {
  padding: 80px 0;
}

.hanafuda {
  background-color: #8accda;
}

h1 {
  font-size: 36px;
  margin: 0 auto 80px;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  letter-spacing: 0.08em;
}

.inner {
  width: 1024px;
  margin: 0 auto;
}
.wrap {
  display: flex;
  justify-content: center;
  width: 800px;
  margin: 0 auto;
}
.selectBox {
  width: 50%;
  height: 60px;
  border: 3px solid rgb(29, 29, 29);
  margin: 0 auto 80px;
  font-size: 14px;
  letter-spacing: 0.1em;
  font-family: "Noto Sans JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "Yu Gothic", "YuGothic", "Helvetica Neue", "Helvetica", "sans-serif";
}

.selectBox:first-child {
  margin: 0 30px 0 0;
}

.c-tbl {
  width: 100%;
  border-collapse: collapse;
}

.c-tbl th {
  border-top: 4px solid rgb(29, 29, 29);
  padding: 20px 0;
  width: 30%;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.08em;
  cursor: pointer;
}

.hanafuda .c-tbl th, .nogizaka .c-tbl th:nth-child(2) {
  position: relative;
}

.hanafuda .c-tbl th .sort, .nogizaka .c-tbl th:nth-child(2) .sort {
  position: absolute;
  right: 65px;
  top: 50%;
  transform: translateY(-50%);
}

.c-tbl th .sort span {
  font-size: 12px;
  transition: all .3s;
  margin: 0 5px;
}

.c-tbl th .c-ascend.change{
  color: #f3482e;
}

.c-tbl th .c-descend.change {
  color: #2e70f3;
}

.c-tbl td {
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid rgb(29, 29, 29);
  letter-spacing: 0.08em;
}

#tbl {
  margin: 0 auto 100px;
}

form select {
  padding-left: 15px;
  letter-spacing: 0.05em;
}

#tBody tr.hidden {
  display: none!important;
}

#msg {
  display: none;
}

#msg.show {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin: 0 auto 100px;
  letter-spacing: 0.1em;
}

#msg.active {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin: 0 auto 50px;
}

.btnArea {
  text-align: center;
}

#reset {
  width: 400px;
  margin: 0 auto;
  border: 4px solid rgb(29, 29, 29);
  height: 70px;
  cursor: pointer;
  letter-spacing: 0.1em;
  background-color: #f3482e;
  transition: all .3s;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Noto Sans JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "Yu Gothic", "YuGothic", "Helvetica Neue", "Helvetica", "sans-serif";
}

#reset:hover {
  background-color: #8accda;
}


/* js版 */
#nogiTbl {
  margin: 0 auto 100px;
}

#nogiMsg {
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.1em;
}

.nogizaka {
  background-color: #d8c5e8;
}


@media screen and (max-width: 1024px) {
  h1 {
    margin: 0 auto 30px;
  }

  .content {
    padding: 40px 0;
  }

  .inner {
    width: 90%;
  }

  .wrap {
    flex-wrap: wrap;
    width: 100%;
  }

  .selectBox {
    width: 100%;
    margin: 0 auto 40px;
  }
  .selectBox:first-child {
    margin: 0 auto 30px;
  }

  .hanafuda .c-tbl th .sort, .nogizaka .c-tbl th:nth-child(2) .sort {
    right: 1%;
    display: flex;
    flex-wrap: wrap;
  }
  .c-tbl th .sort span {
    margin: 0 3px;
    width: 100%;
  }

  #tbl {
    margin: 0 auto 50px;
  }

  #reset {
    width: 100%;
  }
}